.course_container_list{
    display: flex;
    justify-content: center;
    height: 80vh;
    overflow-y: scroll;
}

.course_title {
    margin: 0.5rem 0 2rem 0;
    text-align: center;
}

.course_container {
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    border-radius: 5px;
    background-color: white;
    width: 33vw;
}

.layout_container:has(.sidebar.close) .course_container_list > .course_container{
    width: 80vw;
}

.layout_container:has(.sidebar.open) .course_container_list > .course_container{
    width: 66vw;
}

.course_list {
    list-style: none;
}

.course_list > li {
    margin: 0.25rem 0;
    padding: 0.5rem 5rem;
    border-radius: 5px;
    pointer-events: none;
    transition: 0.1s;
}

.course_list a {
    pointer-events: auto;
    transition: 0.1s;
}

.course_list > li:hover{
    background-color: var(--secondary-color);
}

.course_list a:hover {
    color: white;
    text-decoration: underline;
}

.course_controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    float: right;
}

.classroom_controls_select {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    .layout_container:has(.sidebar.open) .course_container_list > .course_container {
        width: 50vw;
    }

    .course_title {
        margin: 0.5rem 0 1rem 0;
        text-align: center;
    }

    li > a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .course_title {
        margin: 0.5rem 0 0.5rem 0;
        text-align: center;
        font-size: 30px;
    }

    .course_list > li{
        margin: 0.25rem 0;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        pointer-events: none;
        transition: 0.1s;
    }

    li > a {
        font-size: 18px;
    }

    .layout_container:has(.sidebar.open) .course_controls {
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 425px) {

    .course_container_list {
        height: auto;
    }

    .layout_container:has(.sidebar.close) .course_container_list > .course_container{
        width: 60vw;
    }

    .layout_container:has(.sidebar.open) .course_container_list > .course_container{
        display: none;
    }

    .layout_container:has(.sidebar.open) .course_controls {
        z-index: -1;
    }

    .course_controls {
        flex-direction: column;
        gap: 1rem;
    }
}