.teaching_details_container{
    width: 70vw;
    height: 80vh;
    overflow: auto;
    padding: 2.5rem 2rem 0.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.teaching_details_container_box {
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-color);
    border-radius: 5px;
    background-color: white;
    padding: 5px 0;
}

.layout_container:has(.sidebar.close) .teaching_details_container {
    width: 85vw;
}

td svg {
    width: 24px;
    height: 24px;
}

.teaching_details_buttons {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    padding: 0.5rem 0;
}

.teaching_details_buttons > input.button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.75rem;
    font-size: 22px;
    border-style: none;
    border-radius: 5px;
    transition: 0.3s;
}

.teaching_details_buttons > input.button:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

.teaching_details_controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    float: right;
}

.teaching_details_charts {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .teaching_details_container{
        width: 50vw;
    }

    .layout_container:has(.sidebar.close) .teaching_details_container {
        width: 85vw;
    }

    .teaching_details_buttons > input.button {
        padding: 0.50rem 1.50rem;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .teaching_details_buttons > input.button {
        padding: 0.25rem 1.25rem;
        font-size: 14px;
    }

    .teaching_details_buttons {
        gap: 5rem;
    }
    
}

@media screen and (max-width: 425px) {
    .teaching_details_container{
        width: 66vw;
        position: relative;
        z-index: -1;
        left: -20px;
        padding: 1.5rem 0.25rem 1rem 0.25rem;
    }

    td svg {
        width: 16px;
        height: 16px;
    }

    .teaching_details_buttons > input.button {
        padding: 0.25rem 1.25rem;
        font-size: 14px;
    }

    .teaching_details_buttons {
        gap: 3rem;
    }

    .layout_container:has(.sidebar.open) .teaching_details_controls, .teaching_details_range_picker {
        z-index: -1;
    }

    .layout_container:has(.sidebar.close) .teaching_details_container {
        z-index: 1;
    }

    .layout_container:has(.sidebar.close) .teaching_details_range_picker {
        z-index: 2;
    }

    .react-daterange-picker{
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .teaching_details_container{
        padding: 1rem 0.05rem 0.5rem 0.05rem;
        width: 80vw;
    }

    .teaching_details_title, .teaching_details_course {
        font-size: 24px;
    }

    .teaching_details_description {
        font-size: 20px;
    }

    .teaching_details_capacity {
        font-size: 16px;
    }
    
    .teaching_details_buttons {
        gap: 1rem;
    }

    .teaching_details_buttons input.button {
        padding: 0;
    }
}

@media screen and (max-width: 320px) {
    .teaching_details_container{
        position: static;
        width: 70vw;
    }
}